body {
  min-height: 100vh;
  background-color: #fafafa;
  font-family:Verdana, Geneva, Tahoma, sans-serif

 /* Navigation Bar */
 
}
header {
    padding: 40px;
    background-color:rgb(244, 238, 230);
    position: relative;
 
}

nav {
  margin-right: 20px;
  font-size:2rem;
  position:absolute; 
  bottom:20px;
  right: 50px;
}

nav a {
  padding:30px;
  margin:10px;
  color: black;
  text-decoration: none;
  white-space: nowrap;

}

nav a:hover {
  color: coral;
}

/*Body Content*/

#background {
  margin-top:30px;
  border: 3px solid black;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-image: url(../images/background.jpg);
  background-size: cover;
  
}
        /*Top image space under navigation bar*/

#sub-header {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
 
#profile-img {
  margin-bottom: 30px;
  width: 70%;
  height: auto;
  min-width:100px;
  border: 5px double black;
  border-radius: 50%;
}

#my-name {
  font-size: 8rem;
  text-shadow: 1px 1px 2px rgb(81, 79, 79);
}

.content h2{
   font-size:3rem;
   padding: 20px;

}
      /*About Me Section*/

.content {
  margin: 50px;
  padding: 20px;
  background-color: rgb(244, 238, 230);
  box-shadow: 5px 5px 10px 2px  gray;
}

.pam {
  padding:10px;
  line-height: 1.5;
  font-size: 2rem;;
}

p span {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: coral;
}

      /*Projects Section*/

#project-links {
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
  row-gap: 10px;
}

.link{
  margin: 30px;
  padding:40px;
  width: 33%;
 }

figcaption {
  font-size: 30px;
  color: black;
  padding-top: 40px;
}

.image {
  width: 100%;
  height: auto;
  border: 5px solid black;
  padding: 10px;

}
#Horiseon {
  width:100%;
  height: auto;
  border: 5px solid black;
  padding: 20px;

}
 #Horiseon:hover, .image:hover {
   border: 5px solid coral;
   transform: scale(1.10);
 }

/*Contact Me Section*/

#information {
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
  row-gap: 10px;
            
}
          
.media{
  margin: 30px;
  padding:10px;
}

/* MEDIUM */

@media screen and (max-width: 768px) {
  header{
    padding:60px;
  }

  .content {
    margin: auto;
    padding: auto;
    max-width:fit-content;
  }

  .pam {
    padding:15px;
    font-size: 20px;
  }

  nav {
    margin: 5px;
    padding: 15px;
    font-size:20px;
    bottom:20px;
    right: 90px;
  }

  #my-name {
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgb(81, 79, 79);
    padding-right: 50px;
    margin-right: 60px;
    white-space: nowrap;
  } 

  .content h2{
    font-size:25px;
    padding: 5px;
  }
   
  .link{
    width: 100%;

  }
  figcaption {
    font-size: 20px;
    color: black;
    padding-top: 40px;
  }
  .image {
    width: 100%;
    height: auto;
    border: 5px solid black;
    padding: 5px;
  
  }
  #Horiseon {
    width:100%;
    height: auto;
    border: 5px solid black;
    padding: 5px;
  }

  .media {
    margin: 5px;
    padding:40px;
  }
}
  